@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik', sans-serif; */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  /* position: relative; */
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

#hero {
  background-color: #EDEDED;
  padding-bottom: 4rem;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navOpen {
  font-size: 25px;
}

#navClose {
  font-size: 30px;
}

.navbar a {
  color: black;
  font-size: 28px;
}

#hero .navLinks {
  display: flex;
  gap: 30px;
}

.navLinks a {
  font-size: 18px;
}

.heroSection {
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  text-align: center;
  padding: 20px 70px;
}

.heroText {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  text-align: center;
  color: #202020;
  margin: 7rem 0 5rem;
  /* width: 38%; */
}

.heroText h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px auto;
  /* text-align: center; */
}

.heroText p {
  font-size: 22px;
  line-height: 1.7;
}

/* .heroBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0;
  margin-top: 10rem;
} */

.mainBox1 {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: 48vh;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 10px 22px rgb(0 0 0 / 20%);
  margin-top: 5rem;
}

.mainBox1 img {
  border-radius: 20px;
}

.mainBox1 .img1 {
  width: 60%;
  position: absolute;
  bottom: -100px;
  right: -70px;
}

.mainBox1 .img2 {
  width: 60%;
  position: absolute;
  top: -100px;
  left: -70px;
}

.mainBox1 .img3 {
  width: 70%;
  position: absolute;
  /* top: -100px;
  left: -70px; */
}

.mainBox2 {
  bottom: -40px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 10px 22px rgb(0 0 0 / 20%);
  background-color: red;
  /* position: absolute; */
  /* width: 80%; */
  /* height: 39vh; */
  z-index: 99;
}

.topBar {
  padding: 12px 15px;
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  border-radius: 7px 7px 0 0;
}

.topBar span {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.topBar span:first-child {
  background-color: #FF5F56;
}

.topBar span:nth-child(2) {
  background-color: #FFBD2E;
}

.topBar span:nth-child(3) {
  background-color: #27C93F;
}

.browserBar {
  background-color: #fff !important;
  height: 20px !important;
  width: 80% !important;
  border-radius: 4px !important;
  margin-left: 15px;
  display: none;
}

.bottomBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 90px;
  border-radius: 0 0 7px 7px;
}

.bottomBox p {
  color: #505050;
}

input[type="file"] {
  display: none;
}

.custom-file-upload_heroTextArea {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 18px 28px;
  cursor: pointer;
  background-color: #005DFF;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #186AFF;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -40px;
  font-size: 18px;
}

.custom-file-upload:hover {
  transform: translateY(-3px);
  transition: .5s;
}

.lastText {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#EditorPageNav {
  /* background: linear-gradient(to right, rgb(6, 115, 228), rgb(20, 57, 182)); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  color: #242c3d;
  padding: 20px 150px;
  /* position: static; */
  /* position: fixed; */
  z-index: 99;
  width: 100%;
  background-color: #fff;
}

.editingSpace {
  display: grid;
  grid-template-columns: 6fr 2fr;
}

.imageFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #98B0FC;
  padding: 40px;
  width: 50%;
  /* formely: 40%; */
  box-sizing: border-box;
  margin: 2rem auto 2rem;
  /* height: 70%; */
}

.imageFrame2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0b18c9;
  padding: 40px;
  width: 40%;
  box-sizing: border-box;
  margin: 7rem auto 2rem;
  position: absolute;
}

.imageFrame .topBar {
  width: 100%;
}

.imageFrame img {
  max-width: 100%;
  height: 50%;
}

.left {
  background-color: #dfecff;
  position: relative;
  padding-top: 5rem;
}

.right {
  background-color: #fff;
  height: 100vh;
  position: relative;
  right: 0;
  color: #242c3d;
  overflow: auto;
  top: 0;
  padding: 5rem 0 4rem;
  /* margin-bottom: 25rem; */
}

.right::-webkit-scrollbar {
  width: 1px;
  display: none;
}

.right::-webkit-scrollbar-track {
  background: #ffffff;
  width: 1px;
}

.right::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 20px;
  border: 3px solid #2F3542;
}

.right h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.right p {
  font-size: 18px;
  margin-bottom: 5px;
}

.vertical,
.horizontal {
  margin-bottom: 10px;
}

.sliderAndValue {
  display: flex;
  gap: 15px;
}

.downloadImage {
  background-color: #27C93F;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.resetBtn {
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C90B34;
  color: #fff;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.text h3 {
  margin-bottom: 0;
}

.dark {
  background-color: #2F3542;
}

.box-shadow {
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 10px 22px rgb(0 0 0 / 20%); */
  box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

input[type="range"] {
  cursor: pointer;
}

#EditorPageNav .navLinks {
  align-items: center;
  gap: 5px;
}

#EditorPageNav .navLinks {
  cursor: pointer;
  font-size: 26px;
}

#EditorPageNav p {
  cursor: pointer;
  font-size: 26px;
}

.ph-moon,
.ph-selection-background {
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
}

.ph-moon,
.ph-selection-background {
  position: relative;
  display: inline-block;
}

.ph-selection-background .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  font-size: 12px;
}

.ph-selection-background:hover .tooltiptext {
  visibility: visible;
}

.backgroundTab,
.paddingAndBorderRadiusTab {
  border: 1px solid #ccc;
  display: inline-flex;
  margin-bottom: 20px;
  border-radius: 7px;
}

.backgroundTab button,
.paddingAndBorderRadiusTab button {
  cursor: pointer;
  padding: 7px 18px;
  border-radius: 7px;
}

.backgroundTab button:first-child,
.paddingAndBorderRadiusTab button:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.backgroundTab button:nth-child(2),
.paddingAndBorderRadiusTab button:nth-child(2) {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0;
}

.backgroundTab button.active,
.paddingAndBorderRadiusTab button.active {
  background-color: #EEF4FF;
  color: #494CE9;
}

.backgroundTab button.active:last-child,
.paddingAndBorderRadiusTab button.active:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.gradientColors {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  margin-top: 5px;
}

.gradientColors div {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.tabColor,
.padandBorder {
  display: none;
}

.colorSection .active {
  display: grid;
}

.paddingAndBorderRadius .active {
  display: block;
}

.colorSection {
  border-top: 1px solid rgb(148, 148, 148);
  border-bottom: 1px solid rgb(148, 148, 148);
  padding: 12px 0 18px;
}

.g-1 {
  background: linear-gradient(45deg, rgb(128, 152, 249) 0%, rgb(164, 188, 253) 100%);
}

.g-2 {
  background: linear-gradient(45deg, rgb(255, 126, 95) 0%, rgb(254, 180, 123) 100%);
}

.g-3 {
  background: linear-gradient(45deg, rgb(0, 180, 219) 0%, rgb(0, 131, 176) 100%);
}

.g-4 {
  background: linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%);
}

.g-5 {
  background: linear-gradient(45deg, rgb(237, 33, 58) 0%, rgb(147, 41, 30) 100%);
}

.g-6 {
  background: linear-gradient(45deg, rgb(139, 1, 255) 0%, rgb(227, 35, 198) 100%);
}

.g-7 {
  background: linear-gradient(45deg, rgb(252, 92, 125) 0%, rgb(106, 130, 251) 100%);
}

.g-8 {
  background: linear-gradient(45deg, rgb(0, 242, 96) 0%, rgb(5, 117, 230) 100%);
}

.g-9 {
  background: linear-gradient(45deg, rgb(62, 216, 155) 0%, rgb(25, 218, 186) 100%);
}

.g-10 {
  background: linear-gradient(45deg, rgb(127, 0, 255) 0%, rgb(225, 0, 255) 100%);
}

.g-11 {
  background: linear-gradient(45deg, rgb(6, 190, 182) 0%, rgb(72, 177, 191) 100%);
}

.g-12 {
  background: linear-gradient(45deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%);
}

.g-13 {
  background: linear-gradient(45deg, rgb(5, 117, 230) 0%, rgb(2, 27, 121) 100%);
}

.g-14 {
  background: linear-gradient(45deg, rgb(255, 226, 89) 0%, rgb(255, 167, 81) 100%);
}

.g-15 {
  background: linear-gradient(45deg, rgb(238, 9, 121) 0%, rgb(255, 106, 0) 100%);
}

.g-16 {
  background: linear-gradient(45deg, rgb(117, 255, 138) 0%, rgb(74, 252, 73) 100%);
}

.g-17 {
  background: linear-gradient(45deg, rgb(229, 57, 53) 0%, rgb(227, 93, 91) 100%);
}

.g-18 {
  background: linear-gradient(45deg, rgb(167, 112, 239) 0%, rgb(207, 139, 243) 50%, rgb(253, 185, 155) 100%);
}

.g-19 {
  background: linear-gradient(45deg, rgb(18, 194, 233) 0%, rgb(196, 113, 237) 50%, rgb(246, 79, 89) 100%);
}

.g-20 {
  background: linear-gradient(45deg, rgb(138, 35, 135) 0%, rgb(233, 64, 87) 50%, rgb(242, 113, 33) 100%);
}

.windowNav {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.ph-caret-right {
  font-size: 20px;
}

.windowTypeAndStyleNav {
  position: relative;
  background-color: #ffffff;
  padding: 12px;
  right: -400px;
}

.windowOverLay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.705);
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  transition: .5s;
}

.windowType {
  margin-bottom: 30px;
  margin-top: 3rem;
}

.windowType,
.windowStyle {
  cursor: pointer;
}

.windowTypeAndStyleNav .ph-x {
  position: absolute;
  z-index: 9999;
  font-size: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  right: 5%;
}

.window,
.colorSection,
.paddingAndBorderRadius,
.rotateAndFlipBtns {
  padding: 20px;
}

.downloadImage {
  margin: 20px;
}

.windowStylyeBtn,
.windowTypeBtn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.windowTypeBtn img,
.windowStylyeBtn img {
  width: 40%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.windowText p {
  font-size: 14px;
}

.windowTypeBtn,
.windowStylyeBtn {
  background-color: #EEF4FF;
  border-radius: 5px;
}

.windowTypeBtn i,
.windowStylyeBtn i {
  font-size: 18px;
}

.windowTypeBtns button,
.windowStyleBtns button {
  display: block;
  padding: 12px;
}

.windowTypeBtns,
.windowStyleBtns {
  display: none;
}

.hide {
  display: block;
}

.activeWindowButton {
  background-color: #EEF4FF;
}

.topLeft,
.topRight,
.bottomRight {
  margin-bottom: 10px;
}

.toggler {
  display: none;
}

.toggler i {
  font-size: 10.2em;
  color: black;
}

.rotateAndFlipBtns {
  border-top: 1px solid rgb(148, 148, 148);
  border-bottom: 1px solid rgb(148, 148, 148);
}

.borderRadius {
  display: none;
}

.rotateAndFlipBtns div {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.rotateAndFlipBtns button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
}

.filterControls div {
  margin: 10px 0;
}

.range-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.paddingAndBorderRadius button {
  font-size: 14px;
}

.resetFilterBtn {
  max-width: 65%;
}

.frameAndImageSize {}

.frameAndImageSize button {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 10px auto;
  border: 1px solid #d4d4d4;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.frameAndImageSize button i {
  font-size: 38px;
}

.imageSizeToggleModal {
  background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.486));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.frameAndImageSizeBtnContainer {
  background-color: #fff;
  width: 32%;
  padding: 1rem 0;
  border-radius: 16px;
}

.frameAndImageSizeBtnContainer p:last-child {
  color: #667085;
  font-size: 14px;
}

.frameAndImageSizeBtnContainer button p:first-child {
  color: #242c3d;
  margin-bottom: 5px;
}

.topModel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 20px;
}

.topModel p {
  font-size: 18px;
  font-weight: 400;
  color: #344054;
}

.topModel i {
  cursor: pointer;
}

.modelText {
  color: #667085;
  padding: 0 30px 10px;
}

.frameAndImageSizeBtnContainer button i {
  font-size: 26px;
}

.frameAndImageSizeBtnContainer button img {
  width: 50px;
  margin: 0 -13px 0 -10px;
}

.ri-twitter-fill {
  color: #1DA1F2;
}

.ri-linkedin-box-fill {
  color: #0A66C2
}

.ri-instagram-fill {
  color: linea;
}

.ri-youtube-fill {
  color: #FF0302;
}

.frameAndImageSizeBtnContainer button p {
  font-size: 15px;
}

.showframeandImageContainer {
  display: block;
}

.frameandImageSizeTogle {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.frameandImageSizeTogle h3 {
  margin-bottom: 0;
}

.frameandImageSizeTogle {
  background-color: #EEF4FF;
  padding: 5px 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.frameandImageSizeTogle .nav {
  display: flex;
  align-items: center;
  gap: 18px;
}

.frameandImageSizeTogle .nav p {
  font-size: 14px;
}

.frameandImageSizeTogle .nav i {
  font-size: 28px;
}

#features {
  padding: 5rem 0;
  background-color: #005DFF;
}

#features h1,
#about h1 {
  text-align: center;
  color: #fff;
  /* color: #1ac888; */
  font-size: 2em;
  text-transform: uppercase;
  margin: 4rem 0px 12px;
}

#features .featuresParagraph {
  font-size: 20px;
  width: 50%;
  margin: 0 auto 4rem;
  text-align: center;
  /* color: #616161; */
  color: #fff;
}

#features .featuresContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 5rem;
  gap: 4rem;
  width: 80%;
  margin: 0 auto;
}

#features .featuresContainer p {
  /* color: #616161; */
  color: #fff;
  font-size: 18px;
  margin-top: 7px;
  line-height: 1.6;
}

#features .featuresContainer .feature {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

#features .featuresContainer .feature h3 {
  font-size: 20px;
  /* color: #00274e; */
  color: #fff;
  margin: 10px 0;
}

#features .featuresContainer .feature i {
  font-size: 3.5rem;
  color: #1380ED;
  /* padding: 12px; */
  border-radius: 5px;
  color: #ffffff;
  /* background-color: #1ac888; */
}

#about {
  background-color: #EDEDED;
  padding: 3rem 2rem;
}

#about .aboutDiv1,
#about .aboutDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

#about .aboutDiv1 {
  margin-bottom: 6rem;
}

#about .aboutDiv1 img,
#about .aboutDiv2 img {
  /* width: 60%;
  height: 20em;
  border-radius: 20px; */
  width: 30em;
  /* height: 18em; */
  border-radius: 1em;
}

.txt-width {
  width: 25em;
}

#about .aboutDiv1 div:first-child,
#about .aboutDiv2 div:last-child {
  width: 30rem;
}

#about .aboutDiv1 h3,
#about .aboutDiv2 h3 {
  margin: 30px 0 7px;
  font-size: 2rem;
  color: rgb(0, 39, 78);
}

#about .aboutDiv1 p,
#about .aboutDiv2 p {
  margin: 30px 0 7px;
  font-size: 1.4rem;
  color: rgb(97, 97, 97);
  line-height: 1.5;
}

#about .custom-file-upload_heroTextArea {
  margin: 5px 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #BBDDFB;
  /* background-color: #1D1E23; */
  gap: 20px;
  color: #fff;
  padding: 20px 50px 20px;
}

.extension {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  background-color: rgb(187, 221, 251);
  text-align: center;
  color: #000;
}

.extension div {
  display: flex;
  width: 20em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 2px solid black;
  border-radius: 2em;
  padding: 2em;
  box-shadow: 15px 15px 0px -4px rgba(0, 0, 0, 1);
}

.extension i {
  font-size: 2em;
  margin: 20px 0;
}

.extension div p {
  font-size: 1.2em;
}

.extension div p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.extension div button {
  width: 8em;
  font-size: 1.4em;
  outline: none;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #000;
}

/* footer .linksContainer {
  text-align: center;
}

footer .contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #1ac888;
}

footer .links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

footer .contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 1rem;
}

footer i {
  font-size: 18px;
}

footer .contacts a div {
  display: flex;
  align-items: center;
  gap: 3px;
} */

.heroBox {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
}

.heroBox>div:first-child {
  width: 50%;
  height: 20em;
  background-color: rgb(187, 221, 251);
  border-radius: 1em;
}

.heroBox>div:nth-child(3) {
  background-color: white;
  padding-top: 2em;
  border-radius: 1em;
  width: 40%;
  /* height: 26em; */
}

.heroBox>div:nth-child(2) {
  padding: 10px 14px;
  background-color: white;
  margin-top: -22em;
  margin-bottom: 2em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBox>div:nth-child(2) {
  border: 2.5px solid transparent;
}

.heroBox>div:nth-child(2):hover {
  border: 2.5px solid rgb(187, 221, 251);
}

.heroBox>div:nth-child(2)>button {
  width: 10em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #005DFF;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heroBox>div:nth-child(2)>button:hover {
  transform: translate(0, 2px);
}

.heroBox>div:nth-child(3) {
  width: 30em;
}

.heroBox>div:nth-child(3) img {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dots-bar {
  display: flex;
  gap: 0.8em;
  margin-top: -1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.dots {
  width: 0.8em;
  height: 0.8em;
  background-color: black;
  border-radius: 50%;
}

.users>h2 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 3rem 0 2rem;
}

.users .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  color: black;
  gap: 2em;
}

.users .flex img {
  width: 5%;
  filter: grayscale(1);
  transition: .5s;
}

.users .flex img:hover {
  filter: grayscale(0);
  transition: .5s;
}

.users .flex i {
  font-size: 2.5rem;
}

@media screen and (max-width:1200px) {

  html,
  body {
    /* overflow-x: hidden; */
    overflow: hidden auto;
  }

  #about .aboutDiv1 div:first-child,
  #about .aboutDiv2 div:last-child {
    width: 50rem;
  }

  #about .aboutDiv1,
  #about .aboutDiv2 {
    gap: 4rem;
  }

  .heroBox>div:first-child {
    width: 60%;
  }

  .heroBox>div:nth-child(3) {
    width: 48%;
  }

  .users .flex img {
    width: 4%;
  }

  #features .featuresContainer {
    width: 100%;
  }

  .editingSpace {
    grid-template-columns: 6fr;
  }

  .modelText {
    display: none;
  }

  .topModel {
    padding-bottom: 10px;
  }

  .right::-webkit-scrollbar {
    width: 1px !important;
  }

  .resetFilterBtn {
    max-width: 20%;
  }

  .frameAndImageSizeBtnContainer {
    width: 78%;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    justify-content: space-between;
    padding: 30px;
  }

  .heroSection {
    padding: 20px 50px;
  }

  .heroBox>div:first-child {
    width: 68%;
  }

  .heroBox>div:nth-child(3) {
    width: 56%;
  }

  .mainBox1 {
    margin-top: 0;
  }

  .mainBox1 .img1,
  .mainBox1 .img2 {
    display: none;
  }

  .mainBox1 {
    width: 45vw;
  }

  .mainBox1 .img3 {
    width: 90%;
  }

  #features .featuresContainer {
    padding: 10px 0.5rem;
    width: 90%;
  }

  #features .featuresContainer .feature {
    width: 90%;
  }

  #features .featuresParagraph {
    font-size: 18px;
    width: 70%;
  }

  #about .aboutDiv1,
  #about .aboutDiv2 {
    padding: 20px 30px;
  }

  #hero {
    /* height: 98vh; */
  }

  .heroText h1 {
    font-size: 30px;
    /* width: 60%; */
  }

  .resetFilterBtn {
    max-width: 25%;
  }

  footer {
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  footer .contactContainer {
    align-items: center;
  }

  footer .links {
    gap: 7px;
  }
}

@media screen and (max-width: 768px) {
  .heroText h1 {
    font-size: 30px;
  }

  .heroSection {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #hero {
    height: auto;
  }

  .heroText {
    /* width: 80%; */
    text-align: center;
    align-items: center;
  }

  .heroBox>div:first-child {
    width: 86%;
  }

  .heroBox>div:nth-child(3) {
    width: 68%;
  }

  .users .flex img {
    width: 5%;
  }

  .mainBox1 {
    width: 78vw;
    height: 65vh;
  }

  .mainBox1 .img3 {
    width: 75%;
  }

  #about .aboutDiv1 img,
  #about .aboutDiv2 img {
    margin: auto;
    width: 100%;
  }

  #about .aboutDiv1,
  #about .aboutDiv2 {
    flex-direction: column;
    text-align: center;
  }

  #about .aboutDiv1 {
    flex-direction: column-reverse;
  }

  .txt-width {
    width: 20em;
  }

  #about .aboutDiv1 div:first-child,
  #about .aboutDiv2 div:last-child {
    width: auto;
  }

  /* #hero {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  } */

  #features .featuresContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #features .featuresContainer .feature {
    width: 100%;
  }

  #features .featuresContainer .feature h3 {
    font-size: 18px;
  }

  #features .featuresContainer .feature p {
    font-size: 15px;
  }

  #features .featuresParagraph {
    font-size: 16px;
    width: 90%;
  }

  .navbar {
    padding: 15px 30px;
  }

  .resetFilterBtn {
    max-width: 35%;
  }

  #features .featuresContainer .feature i {
    font-size: 48px;
  }
}

@media screen and (max-width: 576px) {
  .heroText h1 {
    font-size: 25px;
  }

  .heroBox>div:first-child {
    width: 92%;
  }

  .heroBox>div:nth-child(3) {
    width: 72%;
  }

  .users .flex img {
    width: 6%;
  }

  .mainBox2 {
    width: 90%;
    text-align: center;
  }

  .bottomBox {
    padding: 45px;
  }

  .imageFrame {
    width: 90%;
    /* formely: 40%; */
  }

  .resetFilterBtn {
    max-width: 42%;
  }

  #EditorPageNav {
    padding: 20px 30px;
  }

  .mainBox1 {
    display: none;
  }

  .heroText {
    width: 100%;
    /* margin-top: 0; */
  }

  .heroText h1 {
    font-size: 35px;
  }

  .toggler {
    display: block;
    cursor: pointer;
  }

  #hero .navLinks a {
    color: #fff;
  }

  #navClose {
    display: none;
  }

  #hero .navLinks {
    position: fixed;
    flex-direction: column;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1D1E23;
    width: 100%;
    z-index: 9;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
  }

  #hero .navLinks a {
    color: #fff;
  }

  #hero {
    clip-path: none;
  }

  .logo {
    font-size: 18px !important;
  }

  #features .featuresContainer .feature i {
    font-size: 36px;
  }
}

@media screen and (max-width:480px) {

  .heroSection {
    padding: 12px;
  }

  .heroBox>div:first-child {
    width: 100%;
  }

  .heroBox>div:nth-child(3) {
    width: 90%;
  }

  .users .flex {
    width: 90%;
  }

  .users .flex img {
    width: 8%;
  }

  .navbar {
    padding: 16px;
  }

  #EditorPageNav {
    justify-content: space-between;
    padding: 20px 15px;
  }

  #EditorPageNav p,
  #EditorPageNav i {
    font-size: 20px;
  }

  .resetFilterBtn {
    max-width: 65%;
  }

  features .featuresContainer {
    width: 98%;
  }

  #features .featuresContainer .feature h3 {
    font-size: 16px;
  }

  #features .featuresContainer .feature i {
    padding: 9px;
    font-size: 30px;
  }

  #features .featuresContainer .feature {
    gap: 0;
  }

  #about .aboutDiv1,
  #about .aboutDiv2 {
    padding: 0px 10px;
    margin-bottom: 0px;
    gap: 2em;
  }

  #about .aboutDiv1 {
    margin-bottom: 2em;
  }

  #features p {
    font-size: 14px;
    line-height: 25px;
  }

  #about .aboutDiv1 img,
  #about .aboutDiv2 img {
    width: 95%;
  }

  #about .aboutDiv1 h3,
  #about .aboutDiv2 h3 {
    margin: 30px 0 7px;
    font-size: 1.5rem;
    color: rgb(0, 39, 78);
  }

  #about .aboutDiv1 p,
  #about .aboutDiv2 p {
    margin: 10px 0 0px;
    font-size: 1.1rem;
    color: rgb(97, 97, 97);
    line-height: 1.5;
  }

  #features h1,
  #about h1 {
    margin: 0 0 12px;
  }

  footer .links {
    gap: 20px;
    flex-direction: column;
  }

  footer .links span {
    display: none;
  }

  .extension>div {
    width: 70vw;
    gap: 0.5em;

    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  }

  .extension i {
    font-size: 1.8em;
    margin: 10px 0;
  }

  .extension>div>p {
    font-size: 1em;
  }

  .extension>div>p:first-child {
    font-size: 1.1em;
    font-weight: bold;
  }

  .extension>div>button {
    width: 8em;
    font-size: 1.1em;
    outline: none;
    border-radius: 1em;
    padding: 0.5em;
  }

}